:root {
  --primary-background-color: #282c34;
  --text-color-light: white;
  --link-color: #61dafb;
  --logo-animation-duration: 20s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite var(--logo-animation-duration) linear;
  }
}

.App-header {
  background-color: var(--primary-background-color);
  min-height: 100%; /* Fallback for older browsers */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color-light);
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}